body {
  background-color: lightgray;
}

.mainTopMargin{
  margin-top: 180px;
}

.RegisterBtn{
  background-color: #3C4659 ;
  color: white;
  border-radius: 15px;
border-style: none;
}

.homePicture{
  width: 630px;
  height: 429px;
}

.boxShadow{
  box-shadow: 4px 6px 4px #0000004D ;
}