body {
  background-color: white;
}
.bgc{
  background-color: #9D7E66 ;
}

.mainTopMargin{
 padding-top: 150px;
  padding-bottom: 20px;
}

.RegisterBtn{
  background-color: #3C4659 ;
  color: white;
  border-radius: 15px;
  border-style: none;
  height: 60px;
}

.aboutBtn{
  background-color: #1A1D1C;
  color: white;
  border-radius: 15px;
  border-style: none;
  height: 60px;
}

.homePicture{
  width: 630px;
  height: 429px;
}

.boxShadow{
   box-shadow: 4px 4px 10px black;
}

.curvy{
  width: 100%;
  display: block;
}

.viewCard{
  height: 1000px;
  width: 100%;
}